.div{
    width: 500px;
    height: auto;
    background-color: rgb(255, 239, 239);
    display:block;
    align-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 5px;

}
.div1{
    width: 500px;
    height: 300px;
    border: solid 1px;
    background-color: rgb(197, 192, 184);
    display:block;
    align-content: center;
    text-align: center;
    margin: auto;
    padding: 2px;

}

.header{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 166, 255);
    align-items: center;
}

.a{
    margin:auto;
    padding: 5px;
    text-align: center;
}
.footer{
      width: 100%;
      background-color: rgb(0, 166, 255);
      bottom: 0;
      position: absolute;
}

.input{
    margin: 2px;
    padding: 2px;

}

.table{
    width: 100%;
    border: solid 1px black;
    text-align: center;
}
.th,td{
    border: solid 1px black;

}